.Button button{
    width: 200px;
    font-size: 14px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 10px 5px;
    margin: 15px;
    margin-left: 15px;
}

.Button button:hover {
    background-color: rgba(68, 66, 66, 0.2);
}